In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as py

In [4]:
Dataset=pd.read_csv("Social_Network_Ads.csv")

In [6]:
Dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [12]:
Dataset=Dataset.drop("User ID",axis=1)

In [14]:
Dataset

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [18]:
Dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [20]:
Dataset=pd.get_dummies(Dataset,dtype=int,drop_first=True)

In [22]:
Dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [24]:
Dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [28]:
# input and output split
independent=Dataset[['Age', 'EstimatedSalary','Gender_Male']]
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [36]:
Dependent=Dataset[["Purchased"]]

In [42]:
Dependent=np.squeeze(Dependent)

In [44]:
Dependent

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [46]:
# input and output split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,Dependent,test_size=1/3,random_state=0)

In [48]:
X_train

     Age  EstimatedSalary  Gender_Male
218   46            96000            0
101   28            59000            1
311   39            96000            1
194   28            89000            1
326   41            72000            1
..   ...              ...          ...
323   48            30000            0
192   29            43000            1
117   36            52000            1
47    27            54000            0
172   26           118000            0

[266 rows x 3 columns]

In [50]:
X_test

     Age  EstimatedSalary  Gender_Male
132   30            87000            1
309   38            50000            0
341   35            75000            1
196   30            79000            0
246   35            50000            0
..   ...              ...          ...
168   29           148000            1
150   26            15000            0
393   60            42000            1
66    24            19000            1
240   42           149000            1

[134 rows x 3 columns]

In [52]:
Y_train

218    0
101    0
311    1
194    0
326    0
      ..
323    1
192    0
117    0
47     0
172    0
Name: Purchased, Length: 266, dtype: int64

In [54]:
Y_test

132    0
309    0
341    0
196    0
246    0
      ..
168    1
150    0
393    1
66     0
240    1
Name: Purchased, Length: 134, dtype: int64

In [62]:
# model creation
from sklearn.svm import SVC
classifier=SVC(kernel='rbf',C=1000,random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1000, random_state=0)

In [64]:
y_pred=classifier.predict(X_test)

In [66]:
# evaluation merits for the classification is confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)

In [68]:
print(cm)

[[82  3]
 [24 25]]

In [70]:
# classification report
from sklearn.metrics import classification_report
cl_rpt=classification_report(Y_test,y_pred)

In [72]:
print(cl_rpt)

              precision    recall  f1-score   support

           0       0.77      0.96      0.86        85
           1       0.89      0.51      0.65        49

    accuracy                           0.80       134
   macro avg       0.83      0.74      0.75       134
weighted avg       0.82      0.80      0.78       134